NEXT_PUBLIC_SERVER_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Zigma Institute"
NEXT_PUBLIC_APP_DESCRIPTION="Modern Education Platform"

DATABASE_URL=

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000