NEXT_PUBLIC_SERVER_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Zigma Institute"
NEXT_PUBLIC_APP_DESCRIPTION="Modern Education Platform"

DATABASE_URL=

NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_URL_INTERNAL=http://localhost:3000

UPLOADTHING_TOKEN=''
UPLOADTHING_SECRET=''
UPLOADTHING_APPID=''

GOOGLE_GENERATIVE_AI_API_KEY=""

RESEND_API_KEY=""
SENDER_EMAIL=""

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
STRIPE_WEBHOOK_SECRET=""